---
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
ColumnLimit:     0

CommentPragmas: NOLINT:.*
DerivePointerAlignment: false
IndentWidth: 2
PointerAlignment: Left
TabWidth: 2
PenaltyExcessCharacter: 32
Cpp11BracedListStyle: false
